---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    My research focuses on human-computer interaction, especially designing and developing haptic devices for physical rendering in XR applications.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD student in Computer Science"
      subtitle="2022 to present at the University of Maryland, College Park, US (GPA: 3.93/4.00)"
    />
    <TimeLineElement
      title="Master of Science in Mechanical Engineering"
      subtitle="2018 to 2019 at the University of Michigan, Ann Arbor, US (GPA: 3.72/4.00)"
    />
    <TimeLineElement
      title="Bachelor of Science in Mechanical Engineering"
      subtitle="2014 to 2018 at Beihang University, Beijing, China (GPA: 3.81/4.00, Ranking: 1/209)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Assistant"
      subtitle="From September 2022 to Present at the University of Maryland, College Park, US"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Research Engineer"
      subtitle="From December 2020 to August 2022 at General Motors, Warren, US"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Engineer in Research Associate"
      subtitle="From February 2020 to May 2021 at the University of Michigan, Ann Arbor, US"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant"
      subtitle="From January 2019 to February 2020 at the University of Michigan, Ann Arbor, US"
    >
    </TimeLineElement>
  </div>
  
    <div class="mb-5">
    <div class="text-3xl w-full font-bold">Teaching Assistant</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Web Application Development with JavaScript"
      subtitle="Fall 2024 & Fall 2025 course at the University of Maryland (CMSC 335), Instructor: Nelson Padua-Perez"
    ></TimeLineElement>
    <TimeLineElement
      title="Object-Oriented Programming I"
      subtitle="Fall 2023 course at the University of Maryland (CMSC 131), Instructor: Pedram Sadeghian, Nelson Padua-Perez"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Introduction to Human-Computer Interaction"
      subtitle="Spring 2023 & Spring 2024 course at the University of Maryland (CMSC 434), Instructor: Huaishu Peng"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Introduction to Data Science"
      subtitle="Fall 2022 course at the University of Maryland (CMSC 320), Instructor: Maksym Morawski"
    >
    </TimeLineElement>
  </div>
  
    <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://doi.org/10.1145/3772318.3791895" target="_blank"> As Content and Layout Co-Evolve: TangibleSite for Scaffolding Blind People's Webpage Design through Multimodal Interaction</a></br>
      Jiasheng Li*, <b>Zining Zhang*</b>, Zeyu Yan, Matthew Wong, Arnav Mittal, Ge Gao†, Huaishu Peng†.</br>
      <i>CHI '26: Proceedings of the 2026 CHI Conference on Human Factors in Computing Systems</i>
    </li>
    <li>
      <a href="https://doi.org/10.1145/3706598.3714276" target="_blank"> PCB Renewal: Iterative Reuse of PCB Substrates for Sustainable Electronic Making</a></br>
      Zeyu Yan, Advait Vartak, Jiasheng Li, <b>Zining Zhang</b>, Huaishu Peng.</br>
      <i>CHI '25: Proceedings of the 2025 CHI Conference on Human Factors in Computing Systems</i>
    </li>

    <li>
      <a href="https://doi.org/10.1109/VR59515.2025.00091" target="_blank"> Comparing Vibrotactile and Skin-Stretch Haptic Feedback for Conveying Spatial Information of Virtual Objects to Blind VR Users</a></br>
      Jiasheng Li, <b>Zining Zhang</b>, Zeyu Yan, Yuhang Zhao, Huaishu Peng.</br>
      <i>2025 IEEE Conference Virtual Reality and 3D User Interfaces (VR)</i>
    </li>

    <li>
      <a href="https://doi.org/10.1145/3654777.3676440" target="_blank"> JetUnit: Rendering Diverse Force Feedback in Virtual Reality Using Water Jets</a></br>
      <b>Zining Zhang</b>, Jiasheng Li, Zeyu Yan, Jun Nishida, Huaishu Peng.</br>
      <i>UIST '24: Proceedings of the 37th Annual ACM Symposium on User Interface Software and Technology</i>
    </li>

    <li>
      <a href="https://doi.org/10.1145/3613904.3642765" target="_blank"> SolderlessPCB: Reusing Electronic Components in PCB Prototyping through Detachable 3D Printed Housings</a></br>
      Zeyu Yan, Jiasheng Li, <b>Zining Zhang</b>, Huaishu Peng.</br>
      <i>CHI '24: Proceedings of the CHI Conference on Human Factors in Computing Systems</i>
    </li>

    <li>
      <a href="https://www.mdpi.com/1165376" target="_blank"> Investigation of Environmentally Dependent Movement of Bottlenose Dolphins (Tursiops truncatus).</a></br>
      <b>Zining Zhang</b>, Ding Zhang, Joaquin Gabaldon, Kari Goodbar, Nicole West, Kira Barton, Kenneth Alex Shorter.</br>
      <i>Journal of Zoological and Botanical Gardens 2021</i>
    </li>
    
    <li>
      <a href="https://patents.google.com/patent/US11084541B2/en" target="_blank"> Internally tensioned inflatable structures.</a></br>
      Wonhee M Kim, Paul W Alexander, Jonathan E Luntz, Diann Brei, Noah Luntzlara, Yun Ju Kim, <b>Zining Zhang</b>, Laura Alejandra Giner Munoz, Koray Benli.</br>
      <i>US Patent 2021</i>
    </li>
    
    <li>
      <a href="https://doi.org/10.1155/2018/4264560" target="_blank"> Configuration synthesis and performance analysis of finger soft actuator.</a></br>
      Ziqiang Zhang, Hanlong Chen, <b>Zining Zhang</b>.</br>
      <i>Applied Bionics and Biomechanics 2018</i>
    </li>
  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-1 columns-2 mx-6">
    <li><b>Programming Languages</b>: Python, C/C++, C#, JavaScript</li>
    <li><b>Languages</b>: English, Mandarin</li>
    <li><b>Package & Tools</b>: Numpy, Pandas, Pytorch, Tensorflow</li>
    <li><b>Software</b>: Solidworks, Fusion 360, Matlab, Power BI, AutoCAD, CATIA</li>
  </ul>
</BaseLayout>
