---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Zining Zhang</div>
    <div class="text-3xl py-3 font-bold">HCI Researcher, Mechanical Engineer, Illustrator</div>
    <div class="py-2">
      <text class="text-lg">
        Zining is currently a fourth-year Ph.D. student in the Computer Science Department at the University of Maryland. She is a member of the <a href="http://smartlab.cs.umd.edu/" target="_blank"><u>Small Artifacts Lab</u></a>, advised by <a href="http://huaishu.umiacs.io/" target="_blank"><u>Dr. Huaishu Peng</u></a>. Her expertise lies in human-computer interaction, with a specific emphasis on developing and enhancing haptic devices to provide realistic experiences in virtual reality and augmented reality.</br>
        </br>
        Prior to her Ph.D. studies, Zining worked as a Research Engineer in the R&D Department at General Motors for two years. Before joining General Motors, she held the position of Engineer and Research Associate in the ESTAR Group at the University of Michigan, under the supervision of <a href="https://me.engin.umich.edu/people/faculty/alex-shorter/" target="_blank"><u>Dr. Alex Shorter</u></a>. She has a Master's degree in Mechanical Engineering from the University of Michigan and a Bachelor's degree in Mechanical Engineering from Beihang University, formerly known as the Beijing University of Aeronautics and Astronautics.</br>
        </br>
        Outside of her academic pursuits, Zining is passionate about painting and enjoys exploring various cultural food. She has crafted her own food maps for the states of Michigan and Maryland and is always happy to share her recommendations.</br>
        </br>
        Zining has two cats: Hawaii🐈 and Habibi🐈‍⬛.</br>
        </br></br>
      </text>
    </div>

  <div>
    <div class="text-2xl w-full font-bold mb-2">News</div>
  </div>

  <HorizontalCard
    desc="Mar 02, 2026 ｜ 🚀 My co-first-author &quot;As Content and Layout Co-Evolve: TangibleSite for Scaffolding Blind People's Webpage Design through Multimodal Interaction&quot; has been accepted to CHI 2026!"
  /> 
  <HorizontalCard
    desc="Apr 10, 2025 ｜ 💰 I’m honored to have been awarded a Graduate Student Summer Research Fellowship for Summer 2025!"
  />
  <HorizontalCard
    desc="Mar 27, 2025 ｜ 🎖️ Our paper &quot;PCB Renewal: Iterative Reuse of PCB Substrates for Sustainable Electronic Making&quot; has been accepted to CHI 2025 and recognized with an Honorable Mention Award!"
  />
  <HorizontalCard
    desc="Jan 21, 2025 ｜ 🚀 Our paper &quot;Comparing Vibrotactile and Skin-Stretch Haptic Feedback for Conveying Spatial Information of Virtual Objects to Blind VR Users&quot; has been accepted to IEEE VR 2025!"
  />
  <HorizontalCard
    desc="Aug 01, 2024 ｜ 🚀 My first first-author HCI paper &quot;JetUnit: Rendering Diverse Force Feedback in Virtual Reality Using Water Jets&quot; has been accepted to UIST 2024!"
  />
  <HorizontalCard
    desc="May 11, 2024 ｜ 🎖️ Our paper &quot;SolderlessPCB: Reusing Electronic Components in PCB Prototyping through Detachable 3D Printed Housings&quot; has been accepted to CHI 2024 and  won the Sustainable Impact Award!"
  />
  <HorizontalCard
    desc="Oct 29, 2023 ｜ 👋 Serving as a Student Volunteer for UIST 2023 in San Francisco, CA, USA."
  />
  <HorizontalCard
    desc="Oct 29, 2022 ｜ 👋 Attending UIST 2022 in Person in Bend, OR, USA."
  />
  <HorizontalCard
    desc="Aug 27, 2022 ｜ 🧑‍🎓 Started my Ph.D. journey at the University of Maryland, College Park."
  />

</BaseLayout>
